<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>
   
<div class="show_subtitle">
  <h5>Title:<%= @book.title %></h5>
  <h5>Body:<%= @book.body %></h5>
</div>

<div class="show_link">
  <%= link_to "Edit", edit_book_path %>
  <%= link_to "Back", books_path %>
</div>